@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #E5E7EB; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #D4D4D4; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c4c1c1; 
  }